

<div class="container-fluid">

  <section fxLayout="row" fxLayoutAlign="center center">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="60">
      <mat-form-field>
        <mat-label>Your Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="User name"
          name="name"
          ngModel
          required
          minlength="8"
          #nameInput="ngModel">
        <mat-hint>Max 20 characters are allowed:</mat-hint>
        <mat-hint [align]="'end'"> ({{ nameInput?.value?.length }}/20)</mat-hint>
        <mat-error *ngIf="nameInput?.hasError('required')">Field must not be empty</mat-error>
        <mat-error *ngIf="nameInput?.hasError('minlength')">Name shoulb atleast 8 char long</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose Date:</mat-label>
        <input
          matInput
          placeholder="Add you date of Birth"
          ngModel
          [matDatepicker]="datePickerRef"
          name="birthdate"
          required>
          <mat-datepicker-toggle matSuffix [for]="datePickerRef"></mat-datepicker-toggle>
          <mat-datepicker #datePickerRef></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Your Email</mat-label>
        <input
          type="email"
          placeholder="abc@gmail.com"
          matInput
          ngModel
          name="email"
          required
          email
          #emailInput="ngModel">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint >Add gamil as an Email</mat-hint>
        <mat-error *ngIf="emailInput?.hasError('required')">Field can't be empty</mat-error>
        <mat-error *ngIf="emailInput?.hasError('email')">E-mail is invalid</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          placeholder="******"
          matInput
          name="password"
          ngModel
          required
          minlength="6"
          #pwInput="ngModel">
          <mat-icon matSuffix>password</mat-icon>
        <mat-hint>Min length should be 6 Characters</mat-hint>
        <mat-hint [align]="'end'">({{ 6 - pwInput.value?.length }}/6)</mat-hint>
        <mat-error *ngIf="pwInput?.hasError('required')">Field is required</mat-error>
        <mat-error *ngIf="pwInput?.hasError('minlength')">Field must contain 6 chara</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" [disabled]="f?.invalid"> Submit</button>
    </form>
  </section>
</div>
